
/* @font-face {
  font-family: 'AUTHENTIC';
  src: url('fonts/AUTHENTICSans-150.woff') format ('woff');
  src: url('fonts/AUTHENTICSans-150.woff2') format ('woff2');
} */

/* not working^ figure out how to connect */
a {
  color: black;
  text-decoration: none;
}

p, ol li {
  font-family: 'Literata', serif;
  font-size: 14px;
}

li a {
  text-decoration: underline;
}

ol {
  margin-top: 10px;
}

body {
    color: black;
    background-color: #fffef9ff;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: 'Literata', serif;
}

h1 {
  font-family: 'DM Sans', sans-serif;  }

h2 {
  font-size:18px;
  font-family: 'DM Sans', sans-serif;  }


  header h1 a{
    color: #09a370ff;
    /* margin: auto;
    width: 100%; */
  }

  header h2 a {
    padding:10px;
    border: 2px solid #31a9edff;
    border-radius: 5px;
    width: 30px;
    height: 30px;   
    color: #31a9edff;
  }

  .mobile{
    display: none;
  }



  header {
      display: flex;
      justify-content: space-between;
      /* vertical-align: center; */
  }
  

.hero {
  margin-bottom: 1rem;
  position: relative;
  text-align: left;
  color: black;
  background-color: lightblue;
  height:280px;
  /* background-image: url("assets/fund-abortion-now!_banner.jpg");
  background-size: 100vh; */

}

.hero .whatis {
  position: absolute;
  /* top: 50%; */
  left: 17px;
  margin-right: 50%;
  vertical-align: middle;
  top: 50%;                        
  transform: translate(0, -50%);
}

.hero a {
  text-decoration: underline;
}

.hero img {
  width: 100%;
}

/* (A) TABS CONTAINER */
.tab {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
  }

  /* (B) HIDE CHECKBOX */
  .tab input { display: none; }
  
  /* (C) TAB LABEL */
  .tab label {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px #09a370ff solid;
    padding-bottom: 5px;
    margin-top: 10px;
    color: #09a370ff;
    cursor: pointer;
    font-size:30px;
    font-family: 'DM Sans', sans-serif;  }

  .tab label:hover {
      color:#09a370ff;
  }
  
  /* (D) TAB CONTENT */
  .tab .tab-content {
    /* CSS ANIMATION WILL NOT WORK WITH AUTO HEIGHT */
    /* THIS IS WHY WE USE MAX-HEIGHT INSTEAD */
    overflow: scroll;
    transition: max-height 0.3s;
    max-height: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

  }

  .timeline {
    grid-column: 1 / span 2;
  }

  .tab .tab-content img {
    width:100%;
    margin-top: 1em;
  }
  /* .tab .tab-content p { margin-left: 20rem; } */
  
  /* (E) OPEN TAB ON CHECKED */
  .tab input:checked ~ .tab-content { max-height: 100vh; }
  
  /* (F) EXTRA - ADD ARROW INDICATOR */
  .tab label::after {
    content: "\005E";
    /* content: "\2192"; */
    right: 10px;
    top: 10px;
    display: block;
    transition: all 0.4s;
    margin-right:1rem;
  }
  .tab input:checked ~ label::after { transform: scaleY(-1); }



  .funding {
    position: relative;
    margin-bottom: 1rem;
    margin-top: 10px;
    cursor: pointer;
    font-size:30px;
    border: solid 2px #09a370ff;
    font-family: 'DM Sans', sans-serif;  }
  
  .funding .title {
    background-color: #09a370ff;
    color: #fffef9ff;
    padding: 15px;
  }

  .funding .content {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    overflow: hidden;
 
  }

  .funding .content img {
    width: 100%;
  }
  .funding .content .text p {
    width:100%;
  }

  .funding .content .text .action {
    width: 100%;
    color: #fffef9ff;
    padding: 10px;
    font-size:18px;
    margin-top: 5px;
    background-color:#f95421ff;

  }

  ::selection {
    background: #fff1b6ff; 
  }

  
  footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  margin-top: 3em;

    }


    /* Footnote code courtesy of Hugo Giraudel codepen on accessible footnotes https://www.sitepoint.com/accessible-footnotes-css/ */
  
    /* Initializing a footnote counter on the wrapper */
    article {
      counter-reset: footnotes;
    }
    
    /**
     * Inline footnotes references
     * 1. Increment the counter at each new reference
     * 2. Reset link styles to make it appear like regular text
     */

    [aria-describedby="footnote-label"] {
      counter-increment: footnotes; /* 1 */
      text-decoration: none; /* 2 */
      color: inherit; /* 2 */
      cursor: default; /* 2 */
      outline: none; /* 2 */
    }
    
    /**
     * Actual numbered references
     * 1. Display the current state of the counter (e.g. `[1]`)
     * 2. Align text as superscript
     * 3. Make the number smaller (since it's superscript)
     * 4. Slightly offset the number from the text
     * 5. Reset link styles on the number to show it's usable
     */
    [aria-describedby="footnote-label"]::after {
      content: '[' counter(footnotes) ']'; /* 1 */
      vertical-align: super; /* 2 */
      font-size: 0.75em; /* 3 */
      margin-left: 2px; /* 4 */
      color: #f95421ff; /* 5 */
      text-decoration: underline; /* 5 */
      cursor: pointer; /* 5 */
    }
    
    /**
     * Resetting the default focused styles on the number
     */
    [aria-describedby="footnote-label"]:focus::after {
      outline: thin dotted;
      outline-offset: 2px;
    }
    
    [aria-label="Back to content"] {
      font-size: 0.8em;
      color:#f95421ff;
    }
    
    
    /**
     * Visually hidden yet accessible content
     */
    .visually-hidden {
      position: absolute;
      clip: rect(0 0 0 0);
      visibility: hidden;
      opacity: 0;
    }
    



 @media screen and (max-width: 767px) {
 
  body {
    margin: 1.5em;
  }
.desktop {
    display: none;
  }

  .mobile{
    display: block;
  }


.hero {
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
  color: black;
  background-color: lightblue;
  height:280px;
}

.hero .whatis {
  font-size: 12px;
  position: absolute;
  /* top: 50%; */
  margin-left:auto;
  margin-right:auto;
  left:0px;
  vertical-align: middle;
  top: 50%;                        
  transform: translate(0, -60%);
  padding: 3em;}

.hero img {
  width: 100%;
}

.tab label, .funding {
  font-size: 18px;
}

.tab .tab-content {
  display: block;
  height: auto;
}

.tab .tab-content img{
  display: block;
  width:45%;
  margin-left: auto;
  margin-right: auto;
}

.text p{
  font-size:12px;
}

.text li{
  font-size:12px;
}

h2 {
  font-size: 14px;
}

.funding .content .text .action {
  font-size: 14px;

}

  
    }