
/* @font-face {
  font-family: 'AUTHENTIC';
  src: url('fonts/AUTHENTICSans-150.woff') format ('woff');
  src: url('fonts/AUTHENTICSans-150.woff2') format ('woff2');
} */

/* not working^ figure out how to connect */


.arrow {
  fill: #09a370ff;
}
}
a {
  color: black;
  text-decoration: none;
}

p, ol li {
  font-family: 'DM Sans', sans-serif; ;
  font-size: 14px;
}

li a {
  text-decoration: underline;
}

ol {
  margin-top: 10px;
}

li{
  margin: 5px 0;
}

body {
    color: black;
    background-color: rgb(255, 252, 235);
    margin-top: 6rem;
    margin-left: 6rem;
    margin-right: 6rem;
    font-family: 'DM Sans', sans-serif; 
}
h1 {
  font-family: 'DM Sans', sans-serif;  }

h2 {
  font-size:18px;
  font-family: 'DM Sans', sans-serif;  }

  /* ARROW + LOGO +PDF */

  header h1 a{
    color: #09a370ff;
    /* margin: auto;
    width: 100%; */
  }

  header h2 a {
    padding:10px 15px;
    border: 2px solid #31a9edff;
    border-radius: 30px;
    width: 30px;
    height: 30px;   
    color: #31a9edff;
  }

  svg {
    width: 4.5%;
  }

  header h2 a:hover {  
    background-color: rgba(49, 168, 237, 0.164);
  }

  .mobile{
    display: none;
  }

  header {
    text-align: center;
  }
  
/* ABOUT TEXT */

.hero {
  margin-bottom: 5rem;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  text-align: center;
  color: #31a9edff;
  font-size:38px;
}


.hero a {
  text-decoration: underline;
}

.hero img {
  width: 100%;
}

.hero .whatis {
  font-size: 24px;
  padding-left:4em;
  padding-right:4em;
  padding-top:1em;
}

.hero .whatis a {
  color: #31a9edff;
}

/* INDEX */

.index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom:4rem;
}

.index a {
  text-decoration: none;
}

.jump {
  color: #09a370ff;
  outline: solid 2px #09a370ff;
  text-align: center;
  padding: 20px;
  border-radius: 9px;
  font-size: 24px;
}

.jump:hover {
  background-color: rgba(9, 163, 112, 0.158);
}


.title {
border-bottom: 2px solid #09a370ff;
font-size: 24px;
color: #09a370ff;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

/* Funding Best Practices */

.bestpractices {
  border: solid 2px #31a9edff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  color:rgb(255, 255, 255);
  background-color: #31a9edff;
  border-radius: 9px;
}

.bestpractices .headline {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  margin:auto;
  font-size: 24px;
  padding-left:20%;
  padding-right:20%;
}

.bestpractices .list {
  grid-column-start: 2;
  grid-column-end: 3;
  padding:1rem;
}



/* (A) TABS CONTAINER */
.tab {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
  }

  /* (B) HIDE CHECKBOX */
  .tab input { display: none; }
  
  /* (C) TAB LABEL */
  .tab label {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background-color: #09a370ff;
    cursor: pointer;
    font-size:30px;
    border-radius: 9px;
  }
  
  /* (D) TAB CONTENT */
  .tab .tab-content {
    /* CSS ANIMATION WILL NOT WORK WITH AUTO HEIGHT */
    /* THIS IS WHY WE USE MAX-HEIGHT INSTEAD */
    overflow: scroll;
    transition: max-height 0.3s;
    max-height: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    background-color: rgba(9, 163, 112, 0.158);
    margin-top: 10px;
    border-radius: 9px;
  }

  .orgs {
    margin: 21px 21px;
    font-size: 18px;
    font-weight: bold;
  }

  .timeline {
    grid-column: 1 / span 2;
  }

  .tab .tab-content img {
    width:100%;
    margin-top: 1em;
  }
  /* .tab .tab-content p { margin-left: 20rem; } */
  
  /* (E) OPEN TAB ON CHECKED */
  .tab input:checked ~ .tab-content { max-height: 100vh; }
  
  /* (F) EXTRA - ADD ARROW INDICATOR */
  .tab label::after {
    content: "\002B";
    /* content: "\2192"; */
    right: 10px;
    top: 10px;
    display: block;
    transition: all 0.4s;
    margin-right:1rem;
  }
  .tab input:checked ~ label::after { 
    content: "\2013"; 
  }

  section {
  margin-bottom: 3em;
  }


  .funding .title {
    color: #09a370ff;
  }

  .funding .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    overflow: hidden;
 
  }

  .funding .content img {
    width: 100%;
  }
  .funding .content .text p {
    width:100%;
  }

  .funding .content .text .action {
    font-size:18px;
    outline: solid 2px #31a9edff;
    color:#31a9edff;
    padding:10px 15px;
    margin-bottom:10px;
    margin-left: 3px;
    border-radius: 9px;
  }
  .funding .content .text a {
    text-decoration: none;
  }

  .giving a {
    color: #31a9edff;
    text-decoration: underline;
  }

 
  .funding .content .text .action:hover {
    background-color: rgba(49, 168, 237, 0.164);
  }

  ::selection {
    background: #fff1b6ff; 
  }

  
  footer {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  margin-bottom: 3em;
  margin-top: 3em;
  vertical-align: baseline;


    }

    .socials {
      text-align: right;
      font-weight: bold;
      align-items: flex-end;
    }


        /* footnote styles? trying to adjust */
    .tab ol li{
      font-size:11px;
      color: #f95421ff;
    }


    /* Footnote code courtesy of Hugo Giraudel codepen on accessible footnotes https://www.sitepoint.com/accessible-footnotes-css/ */
  
    /* Initializing a footnote counter on the wrapper */
    article {
      counter-reset: footnotes;
    }

    article ol li {
      font-size: 10px;
      color: #f95421ff;
    }

    article ol li a {
      color: #f95421ff;
    }

    
    /**
     * Inline footnotes references
     * 1. Increment the counter at each new reference
     * 2. Reset link styles to make it appear like regular text
     */

    [aria-describedby="footnote-label"] {
      counter-increment: footnotes; /* 1 */
      text-decoration: none; /* 2 */
      color: inherit; /* 2 */
      cursor: default; /* 2 */
      outline: none; /* 2 */
    }
    
    /**
     * Actual numbered references
     * 1. Display the current state of the counter (e.g. `[1]`)
     * 2. Align text as superscript
     * 3. Make the number smaller (since it's superscript)
     * 4. Slightly offset the number from the text
     * 5. Reset link styles on the number to show it's usable
     */
    [aria-describedby="footnote-label"]::after {
      content: '[' counter(footnotes) ']'; /* 1 */
      vertical-align: super; /* 2 */
      font-size: 0.75em; /* 3 */
      margin-left: 2px; /* 4 */
      color: #f95421ff; /* 5 */
      text-decoration: underline; /* 5 */
      cursor: pointer; /* 5 */
    }
    
    /**
     * Resetting the default focused styles on the number
     */
    [aria-describedby="footnote-label"]:focus::after {
      outline: thin dotted;
      outline-offset: 2px;
    }
    
    [aria-label="Back to content"] {
      font-size: 0.8em;
      color:#f95421ff;
    }
    
    
    /**
     * Visually hidden yet accessible content
     */
    .visually-hidden {
      position: absolute;
      clip: rect(0 0 0 0);
      visibility: hidden;
      opacity: 0;
    }
  
 


 @media screen and (max-width: 767px) {
 
  body {
    margin: 1.5em;
  }
.desktop {
    display: none;
  }

  .mobile{
    display: block;
  }




.hero .whatis {
  font-size: 12px;
  position: absolute;
  /* top: 50%; */
  margin-left:auto;
  margin-right:auto;
  left:0px;
  vertical-align: middle;
  top: 50%;                        
  transform: translate(0, -60%);
  padding: 3em;}

.hero img {
  width: 100%;
}

.tab label, .funding {
  font-size: 18px;
}

.tab .tab-content {
  display: block;
  height: auto;
}

.tab .tab-content img{
  display: block;
  width:45%;
  margin-left: auto;
  margin-right: auto;
}

.text p{
  font-size:12px;
}

.text li{
  font-size:12px;
}

h2 {
  font-size: 14px;
}

.funding .content .text .action {
  font-size: 14px;

}

  
    }