p, ol li, h2 {
  font-family: 'DM Sans', sans-serif; ;
  font-size: 20px;
}

li a {
  text-decoration: underline;
}

ol {
  margin-top: 10px;
  padding: 0px;
  list-style: decimal inside;
}

li {
  margin: 10px 0;
}

ol li {
  padding-left: 1em;
  padding-right: 1em;
}

body {
  color: black;
  background-color: rgb(255, 252, 235);
  margin-top: 3rem;
  font-family: 'DM Sans', sans-serif; 
}

a {
  color: black;
}

header {
  text-align: center;
}

section {
  margin-left: 23%;
  margin-right: 23%;
}

.zine-nav {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.zine-nav a {
  text-decoration: none;
  text-align: center;
  outline: solid 2px;
  padding: 20px 70px;
  border-radius: 9px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  display: block;
}

.zine-nav a p {
  font-size: 36px;
  margin: 0px;
}

/* INDEX */
.nav-button {
  display: block;
  margin-bottom: 4rem;
}

.nav-button a {
  text-decoration: none;
}

.jump {
  text-align: center;
  padding: 20px;
  border-radius: 9px;
  font-size: 36px;
  margin-bottom: 15px;
  display: block;
  outline-style: solid;
  outline-width: 2px;
}